.App {
  text-align: left;
  background-color: #131313;
  color: white;
  padding: 4rem;
  padding-top: 64px;
}

.CompanyRow {
  border-bottom: solid 1px #838383;
}

.CompanyRowFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.companyName {
  padding: 1.5rem;
}

.categoriesContainer {
  width: 100%;
  background-color: #1f1f1f;
  overflow: hidden;
  color: #d8d8d8;
  text-align: left;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.categoriesContainer.hidden {
  max-height: 0;
}

.categoriesContainer.show {
  max-height: 200rem;
}

.categoryTitle {
  padding: 1.5rem 2rem;
}

.arrow {
  transform: rotate(0deg);
  transition: all 0.4s ease;
  color: white;
}

.arrow.expanded {
  transform: rotate(-180deg);
  transition: all 0.4s ease;
}

.toolbar {
  padding: 0rem 4rem !important;
}

.searchTextArea {
  background-color: #d8d8d8;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 768px) {
  .App {
    padding: 0;
    padding-top: 80px;
  }
  .toolbar {
    padding: 1rem 1rem !important;
  }
}
